<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "logo" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">

    <a href="" class="navbar-wagon-item navbar-wagon-link">About</a>
    <%= link_to 'Team', pages_team_path, class: 'navbar-wagon-item navbar-wagon-link'%>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Blog</a>

  </div>
</div>
