<div class="contents">
  <div class="placeholder">
  </div>  
  <div class="row">
    <div class="col-sm-offset-4 col-sm-6">
      <div class="text-box">
        <!-- <h1>threebitstudio</h1> -->
        <%= image_tag 'logo.svg', class: "logo" %>
        <p><i>3bitstudio</i> is run with love by three Le Wagon Alumni. We evolved out of Team Kitty, a facebook chat-bot which tracks shared expenses. Now we've turned our hand to building websites, mobile apps, you name it, we build it! </p>
        <p>We're just getting started, but please do look at our team and our previous work. </p>
        <p>BLah blah blah blah blah blah blah BLah blah blah blah blah blah blah</p>
      </div>
    </div>
  </div>
</div>
