<div class="banner">
  <div class="banner-content">
    <div class="heading-area">
      <div>
        <h1>WE TAKE YOU,<br> FROM IDEA,<br> TO MVP.</h1>
        <!-- <p>We take you from idea to MVP</p> -->
        <a class="btn btn-primary btn-lg btn-call-to-action">Get Quote</a>
      </div>
    </div>
  </div>
  <div class="banner-content">
    <div class="car-image">
      <%= image_tag "car_area" %>
    </div>
  </div>
</div>
