<div class="contents">
  <div class="placeholder">
    
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-6">
        <div class="card">
          <%= image_tag 'guy', class: "card-img" %>
          <div class="blurb">
            <p>Guy's the ideas man.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-offset-2 col-sm-6">
        <div class="card">
          <%= image_tag 'jamie', class: "card-img" %>
          <div class="blurb">
            <p>Jamie's a bit of a renaissance man. </p>
          </div>
        </div>
      </div>
      <div class="col-sm-offset-2 col-sm-6">
        <div class="card">
          <%= image_tag 'lenny', class: "card-img" %>
        </div>
      </div>
    </div>
  </div>
</div>
