<div class="contents">
  <div class="placeholder">
    
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-6">
        <div class="card">
          <%= image_tag 'guy', class: "card-img" %>
          <div class="text">
            <h3>Guy Bennett-Jones</h3>
            <h5>COFOUNDER</h5>
            <div class="blurb">
              <p>Guy's the ideas man. Blah blah it's my drreeeeeeammmm to set up such an agency. I never thought I could. It would mean the world to me. My folks would be so proud. The whole village is supporting me on this. blahhhhhh</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-offset-2 col-sm-6">
        <div class="card">
          <%= image_tag 'jamie', class: "card-img" %>
          <div class="text">
            <h3>Jamie Dujardin</h3>
            <h5>COFOUNDER</h5>
            <div class="blurb">
              <p>Jamie is a bit of a renaissance man. He's our design guy but also lends his hands when the APIs get involved. He has just graduated from E & M at Christ Church College, Oxford. He has long been involved with design work...blah</p>
            </div>
          </div>  
        </div>
      </div>
      <div class="col-sm-offset-2 col-sm-6">
        <div class="card">
          <%= image_tag 'lenny', class: "card-img" %>
          <div class="text">
            <h3>Leonard Percival</h3>
            <h5>COFOUNDER</h5>
            <div class="blurb">
              <p>You'll know it when you meet Lenny. Equal parts charisma, code and comic disposition makes him the perfect codirector. He set up a successful food business in 200x. He's now a successfull coder and cofounder.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
