.banner {
  color: white;
  text-align: left;
  height: 100vh;
  background: linear-gradient(-225deg, #2F4695 0%, #15215C 100%);
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-family: "helvetica";
  font-size: 64px;
  font-weight: bold;
  line-height: 120px;
  letter-spacing: 3px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.banner-content {
  margin: 0 40px;
  width: 100%;
}

.heading-area {
  display: flex;
  align-items: left;
  h1{
    padding-bottom: 30px;
  }
}

.car-image {
  margin-top: 80px;
}
