.card{
  background-color: white;
  display: flex; 
  height: 200px;
  width: 600px;
  border-radius: 200px 10px 10px 200px;
  margin: 30px;
}

.card-img{
  border-radius: 200px;
  height: 200px;
  width: 200px;
}

.text{
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  h2{
    margin: 0px;
    color: #646464;
  }
  &:hover{
    h2{
      opacity: 0;
      transition: ease 0.5s opacity;
    }
    .uncover{
      opacity: 1;
      transition: ease 0.5s opacity;
      color: #646464;
    }
  }
}

.uncover{
  opacity: 0;
  h3{
    text-align: center;
  }
  position: absolute;
  bottom: 30px;
  left: 40px;
  padding-right: 20px;
}

.big-card{

}

.text-box{
  p{
    padding-top: 5px;
  }
}

.contents{
  background: linear-gradient(-225deg, #2F4695 0%, #15215C 100%);
  height: 100vh;
}

.logo{
    margin: auto;
    display: block;
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: Helvetica
  }

.text-box{
  // width: 500px;
  // height: 700px;
  background-color: white;
  color: #646464;
  border-radius: 30px;
  margin: 30px;
  p{
    padding: 30px;
    font-size: 22px;
  }
}
