.card{
  background-color: #f8f1ff;
  display:flex; 
  height: 200px;
  width: 600px;
  margin: 40px;
  border: solid 2px #f9b9f2;
  border-radius: 200px 20px 20px 200px;
}

.card-img{
  border-radius: 196px;
  height: 196px;
  width: 196px;
}
